//Primary colors
$DarkCyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

//Neutral colors
$VeryDarkBlue: hsl(212, 21%, 14%);
$DarkGrayishBlue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

figure {
    margin: 0;
    padding: 0;
}

body {
    font: {
        size: 14px;
        family: "Fraunces", arial;
    }

    background-color: $Cream;
    color: $DarkGrayishBlue;
    padding: 8px;
    display: flex;
    flex-direction: column;

}
.image__mobile {
    width:100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.image__desktop {
    display: none;
}

.ensemble{
    width: 95%;
    height: auto;
    background-color:$White;
    border-radius: 15px;    
  }
  .contenu {
    padding: 5px;
    margin: 25px;
  }
  h2{
    font-size: 28px;
    color: $VeryDarkBlue;
  }
  
  h3 {
     font: {
        family: "Montserrat";
        weight: 500;
     }
     letter-spacing: 10px;
  }
    .contenu__para {
        font: {
         family: "Montserrat",arial;
         weight: 700;
    }

  }

 .price {
    display: flex;
    position: relative;
    .price__new{
        font-size: 28px;
        color: $DarkCyan;
    }
    .price__old {
        text-decoration: line-through;
        margin-left: 25px;
        position: absolute;
        right: 20%;
        top: 22%;
        
    }   
}

.btn {
    display: inline-block;
    background-color: $DarkCyan;
    border-radius: 10px;
    color: $White;
    text-align: center;
    width: 90%;
    font:{
        size: 20px;
    }
    padding: {
        top :15px;
        bottom: 15px;
    }
    
}

@media (min-width: 375px) {
    body {
        width:100%;
        
    }
    .ensemble {
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        width: 50%;
        height: auto;
        margin: 200px auto;
        
    }
    .image {
        &__mobile {
            display: none;
        }
    
        &__desktop {
            display: block;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }
    }
}
